/*  your css code here. If applicable */
.container {
    position: absolute;
    display: flex;
   
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 2px solid black; 
	background-color: lightblue;
  }

.center{
    display: flex;
   justify-content: center;
 
   
    
}